html {
    overflow: auto;
    overflow-y: scroll;
}

.main-container {
    padding-left: 25px;
}

.endpoint-name {
    font-size: larger;
}


.endpoint-description {
    padding: 10px;
    width: 50%;
    border-radius: 5px;
    margin: 20px;
    background-color: rgba(84, 84, 84, 0.173);
}

.endpoint-table {
    border-spacing: 30px;
}